[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
torch = "*"
torchvision = "*"
transformers = "*"
diffusers = "*"
invisible-watermark = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
stable_diffusion_tf = {version = "*", git = "https://github.com/divamgupta/stable-diffusion-tensorflow.git"}
tensorflow-addons = "*"
ftfy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
