[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
torch = "*"
torchvision = "*"
transformers = "==4.19.2"
diffusers = "*"
invisible-watermark = "*"

[dev-packages]

[requires]
python_version = "3.10"
