[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
jupyterlab = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
transformers = "*"
diffusers = "*"
invisible-watermark = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
stable_diffusion_tf = {version = "*", git = "https://github.com/divamgupta/stable-diffusion-tensorflow.git"}
tensorflow-addons = "*"
ftfy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
